<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>LogisticMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginAction</servlet-name>
    <servlet-class>cn.brimon.servlet.loginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginAction</servlet-name>
    <url-pattern>/loginAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddOrderAction</servlet-name>
    <servlet-class>cn.brimon.servlet.AddOrderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderAction</servlet-name>
    <url-pattern>/panel/AddOrderAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogOutAction</servlet-name>
    <servlet-class>cn.brimon.servlet.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutAction</servlet-name>
    <url-pattern>/LogOutAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OutAction</servlet-name>
    <servlet-class>cn.brimon.servlet.OutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutAction</servlet-name>
    <url-pattern>/panel/OutAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateOrderAction</servlet-name>
    <servlet-class>cn.brimon.servlet.UpdateOrderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderAction</servlet-name>
    <url-pattern>/panel/UpdateOrderAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCommentAction</servlet-name>
    <servlet-class>cn.brimon.servlet.AddCommentAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentAction</servlet-name>
    <url-pattern>/panel/AddCommentAction.do</url-pattern>
  </servlet-mapping>
</web-app>